.BoxContainer {
<<<<<<< HEAD
  display: inline-flex;
  align-content: space-around;
=======
 display: inline-flex;
 align-content: space-around;
}
.Box1 {
 margin-left: 10%;
 margin-right: 10%;
}
.Box3 {
 display: inline-flex;
 align-content: space-around;
>>>>>>> 3e486979b213c32426b733aa134304db44acd68d
}