.FrontPage {
  background-color: #77eeb6;
}

.Header {
  display: flex;
  align-content: flex-start;
  width: 80%;
  position: absolute;

  margin: 0;
  align-content: space-around;
}

#logo {
  display: flex;
  align-content: space-around;
  margin: 0vh 40vh;
}

.MenuItem {
  margin-top: 2vh;
}
.MenuItem > a {
 display: grid;
 text-decoration: none;
 color: white;
 padding-bottom: 20%;
}



#hamburger {
  width: 5vh;
  height: 5vh;
  border: #77eeb6;
  border-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-left: 2vh;
  position: fixed;
  top: 2%;
}

#hamburger:hover {
  border: #77eeb6;
  background-color: #60b99036;
  box-shadow: 0 0 15px #3c5f4f36;
}

.PageContent {
  display: block;
  position: relative;
  width: 100%;
  margin: 3vh 78vh;
  align-items: center;
  color: white;
}

.PageItem {
  width: 65vh;
  height: 7vh;
  border: #77eeb6;
  border-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 2%;
  text-align: center;
}
.PageItem > a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.PageItem:hover {
  border: #77eeb6;
  background-color: #60b99036;
  box-shadow: 0 0 15px #3c5f4f36;
}

.PageItemLogin {
  width: 50vh;
  height: 7vh;
  border: #77eeb6;
  border-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 2%;
}
.PageItemLogin > a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.PageItemLogin:hover {
  border: #77eeb6;
  background-color: #60b99036;
  box-shadow: 0 0 15px #3c5f4f36;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.InputField {
  width: 20vh;
  height: 7vh;
  border: #77eeb6;
  border-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 10%;
  color: white;
  text-align: center;
}

.InputFieldUser {
  width: 50vh;
  height: 7vh;
  border: #77eeb6;
  border-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 0%;
  color: white;
  text-align: center;
}

.CancelButton {
  width: 50vh;
  height: 7vh;
  border: #77eeb6;
  border-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 1%;
  color: white;
  text-align: center;
}

.InputField:hover {
  border: #77eeb6;
  background-color: #60b99036;
  box-shadow: 0 0 15px #3c5f4f36;
}

.LoginBox:hover {
  border: solid #42705b;
  background-color: #60b99036;
  box-shadow: 0 0 15px #3c5f4f36;
}

.LoginBox {
  width: 27vh;
  height: 7vh;
  border: solid #42705b;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 2%;
  text-align: center;
}

.PassBox:hover {
  border: solid #42705b;
  background-color: #60b99036;
  box-shadow: 0 0 15px #3c5f4f36;
}

.PassBox {
  width: 23vh;
  height: 7vh;
  border: solid #42705b;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 2%;
  text-align: center;
}

.LoginButton {
  width: 10vh;
  height: 8vh;
  border: solid #42705b;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 2%;
  text-align: center;
  color: white;
}

.LoginButton:hover {
  border: solid #42705b;
  background-color: #60b99036;
  box-shadow: 0 0 15px #3c5f4f36;
}

.InputMember {
  width: 53vh;
  height: 7vh;
  border: solid #42705b;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 2%;
  text-align: center;
  color: white;
}

.addMember {
  width: 10vh;
  height: 8vh;
  border: solid #42705b;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  background-color: #58a58136;
  box-shadow: 0 0 10px #3c5f4f36;
  margin-top: 2%;
  text-align: center;
  color: white;
  text-decoration: none;
}

@media only screen and (max-device-width: 768px) {
}

@media print {
}