<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Payback!</title>
    <meta charset="utf.8"/>
    <link rel="stylesheet" type="text/css" href="normalize.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="dropdown.css"/>
    <link rel="stylesheet" type="text/css" href="BoxStyle.css"/>

    <script src="PB.js"></script>
</head>
<body class="FrontPage">
<div class="Logo">
    <img id="logo" src="logo.png"/>
</div>
<div class="Header">
    <div class="dropdown">
        <button id="hamburger">
            <img src="burgermenu-icon.png"/>
        </button>

        <div class="dropdown-content">
                <span class="MenuItem">
                    <a href="#">Log out</a>
                  </span>

            <span class="MenuItem">
                <a href="#">About</a>
              </span>
        </div>
        <div class="dropdown-content">
              <span class="MenuItem">
                <a href="#">Contact</a>
              </span>
        </div>
        <div class="dropdown-content">
              <span class="MenuItem">
                <a href="#">Policy</a>
              </span>
        </div>
    </div>
</div>

<div class="PageContent">
    <h2>Create group!</h2>
    <form action="/addgroup" method="post" th:object="${group}">
    <div class="PageNavigation">
        <input class="InputField" type="text" placeholder="Group name" th:field="*{groupName}">
    </div>
    <p>Add members to your group:</p>
    <div class="PageNavigation">
        <input class="InputField" type="text" placeholder="Username/Email/Phone number" name="identifier">
    </div>

    <div class="PageNavigation">
        <button type="submit" class="InputField">Sim Sala Bim!</button>
    </div>
    </form>
    <div class="PageNavigation">
        <button type="button" class="InputField">Cancel</button>
    </div>
</div>
</body>
</html>



