<!DOCTYPE html>
<html>
  <head>
    <title>Payback!</title>
    <meta charset="utf.8" />
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="dropdown.css" />

    <script src="PB.js"></script>
  </head>
  <body class="FrontPage">
        
        <div class="Header">   
          <div class="dropdown">
            <button id="hamburger">
              <img src="burgermenu-icon.png" />
            </button>
            <div class="dropdown-content">
              <span class="MenuItem">
                <a href="#">About</a>
              </span>
            </div>
            <div class="dropdown-content">
              <span class="MenuItem">
                <a href="#">Contact</a>
              </span>
            </div>
            <div class="dropdown-content">
              <span class="MenuItem">
                <a href="#">Policy</a>
              </span>
            </div>
          </div>
          <div class="Logo">
                <img id="logo" src="logo.png" />
        </div> 
        </div>

    <div class="PageContent">
        <h2>Sign up!</h2>
        <p>Please fill in this form to create an account.</p>
      <div class="PageNavigation">
        <input class="InputField" type="text" placeholder="  User name" name="User_name"></input>
      </div>
      <div class="PageNavigation">
        <input class="InputField" type="text" placeholder="  First name" name="First_name" required>
      </div>
      <div class="PageNavigation">
        <input class="InputField" type="text" placeholder="  Last name" name="Last_name"></input>
      </div>
      <div class="PageNavigation">
        <input class="InputField" type="e-mail" placeholder="  E-mail" name="E-mail"></input>
      </div>
      <div class="PageNavigation">
        <input class="InputField" type="numbers" placeholder="+46701231231" name="Phone_number"></input>
      </div>
      <div class="PageNavigation">
        <input class="InputField" type="password" placeholder="Enter password" name="password" required></input>
      </div>
      <div class="PageNavigation">
        <input class="InputField" type="password" placeholder="Repeat password" name="Rep-pass" required></input>
        </div>

        <p>By creating an account you agree on our <a href="#">Terms & Privacy</a>.</p>

        <div class="PageNavigation">
            <button type="submit" class="InputField">Sign Up</button>
        </div>
            <div class="PageNavigation">        
            <button type="button" class="InputField">Cancel</button>   
        </div>
    </div>
  </body>
</html>
