<!DOCTYPE html>
<html>
  <head>
    <title>Payback!</title>
    <meta charset="utf.8" />
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <script src="PB.js"></script>
  </head>
  <body class="FrontPage">
    <div class="Header">
      <button id="hamburger">
        <img src="burgermenu-icon.png" />
      </button>
      <div class="HeadNavigation">
        <span class="MenuItem">
          <a href="#">Log out</a>
        </span>
      </div>
      <div class="HeadNavigation">
        <span class="MenuItem">
          <a href="#">About</a>
        </span>
      </div>
      <div class="HeadNavigation">
        <span class="MenuItem">
          <a href="#">Contact</a>
        </span>
      </div>
      <div class="HeadNavigation">
        <span class="MenuItem">
          <a href="#">Policy</a>
        </span>
      </div>
    </div>

    <div class="PageContent">
      <div class="PageNavigation">
        <button class="PageItem">
          <a href="#">Starta grupp</a>
        </button>
      </div>
      <div class="PageNavigation">
        <button class="PageItem">
          <a href="#">Betalningar</a>
        </button>
      </div>
      <div class="PageNavigation">
        <button class="PageItem">
          <a href="#">Historik</a>
        </button>
      </div>
    </div>
  </body>
</html>
