<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Payback!</title>
    <meta charset="utf.8"/>
    <link rel="stylesheet" type="text/css" href="/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="stylesheet" type="text/css" href="/dropdown.css"/>
    <link rel="stylesheet" type="text/css" href="/BoxStyle.css"/>
    <script src="/PB.js"></script>
</head>
<body class="FrontPage">
<div class="Logo">
    <a href="/home">
        <img id="logo" src="/logo.png"/>
    </a>
</div>
<div class="Header">
    <div class="dropdown">
        <button id="hamburger">
            <img src="/burgermenu-icon.png"/>
        </button>
        <div class="dropdown-content">
          <span class="MenuItem">
            <a href="/about">About</a>
          </span>

            <span class="MenuItem">
            <a href="/contact">Contact</a>
          </span>

            <span class="MenuItem">
            <a href="/policy">Policy</a>
          </span>

            <span class="MenuItem">
            <a href="/logout">Log out</a>
          </span>
        </div>
    </div>
</div>
<h2 class="GroupName" th:text="${session.groupName}"></h2>
<div class="GroupView">
    <div class="Whatever">
        <div class="BoxAddCost">
            <h4>Group members</h4>
            <ul>
                <li th:each="object : ${session.memberBalances}"><span
                        th:utext="${object.key.userName} + ': '"></span><span
                        th:classappend="${object.value >= 0} ? positiveNumber : negativeNumber"
                        th:utext="${object.value} + ' kr<br/>'"></span>
                </li>
            </ul>
        </div>
        <div class="BoxAddCost">
            <form method="post" action="/addCost">
                <input type="hidden" id="groupMember" name="groupMember" th:value="${creator}">
                <input
                        class="InputField"
                        th:value="${cost}"
                        name="cost"
                        type="text"
                        placeholder="Cost [SEK]"
                        required
                />
                <input
                        class="InputField"
                        th:value="${type}"
                        name="type"
                        type="text"
                        placeholder="Description"
                />
                <input type="submit" class="AddCostButton" value="Add cost"/>
            </form>
        </div>
    </div>
    <div class="ShowCostBox">
        <div class="costs">
            <h4>Costs</h4>
            <ul>
                <li th:each="costD : ${session.costDescriptions}"
                    th:utext="${costD} + '<br/>'">
                </li>
            </ul>
            <br><br>
            <p th:text="'Total sum: ' + ${session.totalCost}"></p>
        </div>
        <div>
            <br>
            <p>----------------------</p>
        </div>
        <div class="payments">
            <h4>Payments</h4>
            <ul>
                <li th:each="payment : ${session.groupPayments}"
                    th:utext="${payment} + '<br/>'">
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">Copyright © 2019 Payback</div>
</body>
</html>
