<!DOCTYPE html>
<html>
  <head>
    <title>Payback!</title>
    <meta charset="utf.8" />
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="dropdown.css" />
    <link rel="stylesheet" type="text/css" href="BoxStyle.css" />
    <script src="PB.js"></script>
  </head>
  <body class="FrontPage">
    <div class="Logo">
      <img id="logo" src="logo.png" />
    </div>
    <div class="Header">
      <div class="dropdown">
        <button id="hamburger">
          <img src="burgermenu-icon.png" />
        </button>
        <div class="dropdown-content">
          <span class="MenuItem">
            <a href="#">About</a>
          </span>
        </div>
        <div class="dropdown-content">
          <span class="MenuItem">
            <a href="#">Contact</a>
          </span>
        </div>
        <div class="dropdown-content">
          <span class="MenuItem">
            <a href="#">Policy</a>
          </span>
        </div>
      </div>
    </div>
    <div class="GroupView">
      <div class="Whatever">
        <div class="BoxAddCost">
          <h4>Group members</h4>
          <ul>
            <li>
              Mikaela
              <span style="color: red">200 sek</span>
            </li>

            <li>
              Johanna
              <span style="color: red">200 sek</span>
            </li>
            <li>
              Tommy
              <span style="color: green">0 sek</span>
            </li>
            <li>
              Mustafa
              <span style="color: green">400 sek</span>
            </li>
          </ul>
        </div>
        <div class="BoxAddCost">
          <input
            class="InputField"
            field="*{userName}"
            type="text"
            placeholder="Cost"
            name="username"
            required
          />
          <input
            class="InputField"
            field="*{userName}"
            type="text"
            placeholder="Description"
            name="username"
            required
          />
          <div>
            <input type="submit" class="AddCostButton" value="Add cost" />
          </div>
        </div>
      </div>
      <div class="ShowCostBox">
        <h4>Costs</h4>
        <p>Mustafa added the cost: 400 sek, Food</p>
      </div>
    </div>
  </body>
</html>
