<!DOCTYPE html>
<html>
 <head>
   <title>Payback!</title>
   <meta charset="utf.8" />
   <link rel="stylesheet" type="text/css" href="normalize.css" />
   <link rel="stylesheet" type="text/css" href="style.css" />
   <link rel="stylesheet" type="text/css" href="dropdown.css" />
   <link rel="stylesheet" type="text/css" href="BoxStyle.css" />
   <script src="PB.js"></script>
 </head>
 <body class="FrontPage">
   <div class="Logo">
     <img id="logo" src="logo.png" />
   </div>
   <div class="Header">
     <div class="dropdown">
       <button id="hamburger">
         <img src="burgermenu-icon.png" />
       </button>
       <div class="dropdown-content">
         <span class="MenuItem">
           <a href="#">About</a>
         </span>
       </div>
       <div class="dropdown-content">
         <span class="MenuItem">
           <a href="#">Contact</a>
         </span>
       </div>
       <div class="dropdown-content">
         <span class="MenuItem">
           <a href="#">Policy</a>
         </span>
       </div>
     </div>
   </div>
   <div class="ProfileView">
        <div class="BoxProfil">
            <h4>Profilinfo</h4>
            <p>Användarnamn</p>
            <p>Telefonnummer</p>
            <p>E-mail</p>
        </div>
       
    </div>
     </body>
   </html>
   </div>
 </body>
</html>