<!DOCTYPE html>
<html>
 <head>
   <title>Payback!</title>
   <meta charset="utf.8" />
   <link rel="stylesheet" type="text/css" href="normalize.css" />
   <link rel="stylesheet" type="text/css" href="style.css" />
   <link rel="stylesheet" type="text/css" href="dropdown.css" />
   <link rel="stylesheet" type="text/css" href="BoxStyle.css" />
   <script src="PB.js"></script>
 </head>
 <body class="FrontPage">
   <div class="Logo">
     <img id="logo" src="logo.png" />
   </div>
   <div class="Header">
     <div class="dropdown">
       <button id="hamburger">
         <img src="burgermenu-icon.png" />
       </button>
       <div class="dropdown-content">
           <span class="MenuItem">
            <a href="/logout">Log out</a>
          </span>
         <span class="MenuItem">
           <a href="/about">About</a>
         </span>

         <span class="MenuItem">
           <a href="/contact">Contact</a>
         </span>

         <span class="MenuItem">
           <a href="/policy">Policy</a>
         </span>
       </div>
     </div>
   </div>
   <div class="ProfileView">
        <div class="BoxProfil">
            <h4>Profilinfo</h4>
            <p>Användarnamn</p>
            <p>Telefonnummer</p>
            <p>Ändra lösenord</p>
        </div>
        <div class="BoxProfil">
            <h4>Mina grupper</h4>
            <p>Fest hos mange!</p>
            </div>
        <div class="BoxProfil">
            <h4>Utlägg/betalningar</h4>
            <p><h5>-</h5> Skydlig fredde 20 kr</p>
            <p><h5>+</h5>Irvin ska betala 100 kronor</p>
        </div>
    </div>
     </body>
   </html>
   </div>
 </body>
</html>