<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Payback!</title>
    <meta charset="utf.8"/>
    <link rel="stylesheet" type="text/css" href="/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="stylesheet" type="text/css" href="/dropdown.css"/>
    <link rel="stylesheet" type="text/css" href="/BoxStyle.css"/>
    <script src="/PB.js"></script>
</head>
<body class="FrontPage">
<div class="Logo">
    <img id="logo" src="/logo.png"/>
</div>
<div class="Header">
    <a href="/home">
        <button id="back">
            <img src="/back.png" />
        </button>
    </a>
    <div class="dropdown">
        <button id="hamburger">
            <img src="/burgermenu-icon.png"/>
        </button>
        <div class="dropdown-content">
          <span class="MenuItem">
            <a href="/logout">Log out</a>
          </span>
            <span class="MenuItem">
            <a href="/about">About</a>
          </span>

            <span class="MenuItem">
            <a href="/contact">Contact</a>
          </span>

            <span class="MenuItem">
            <a href="/policy">Policy</a>
          </span>
        </div>
    </div>
</div>
<div class="GroupView">
    <div class="GroupBox">
        <h4>My groups</h4>
        <a th:href="'/group/' + ${group.id}" th:each="group : ${session.groups}"
           th:utext="${group.groupName} + '<br/>'"></a>
    </div>
</div>
<div class="footer">Copyright © 2019 Payback</div>
</body>
</html>
